.list {
  background: white;
  padding: 16px;
  border-radius: 8px;
}

.form {
  background: #f8f9fa;
  display: flex;
  gap: 32px;
  flex-direction: column;
  margin: 16px 0;
  padding: 16px;
  border-radius: 8px;
}

.form h3,
h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin: 0;
  color: #0056b3;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #dee2e6;
}

.item:last-child {
  border-bottom: none;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;
  justify-content: flex-start;
}

.options {
  display: flex;
  gap: 8px;
}

.options button {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 18px;
}

.options button:hover {
  color: #ad3030;
}

button {
  background-color: gray;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 8px;
  width: 60%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border-color: #0056b3;
  outline: none;
}

input[type="submit"] {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
