.toggle {
  background: #0916d4;
  position: absolute;
  top: 363px;
  right: -0px;
  outline: none;
  border: none;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
  transition: background 0.3s ease;
}

.toggle:hover {
  background-color: #009dff;
}

.toggle svg {
  color: #fff;
  height: 16px;
  width: 16px;
}
