.button {
    font-size: 16px;
    outline: none;
    color: white;
}

.primary {
    background: black;
    color: white;
}

/* Button_danger_sbdsd*/
.danger {
    background: green;
    color: white;
}