.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  gap: 9px;
}

.modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button.confirm {
  background-color: #ff4757;
  color: white;
}

.modal-button.cancel {
  background-color: #007bff;
  color: white;
}

.modal-button.confirm:hover {
  background-color: #75230f;
}

.modal-button.cancel:hover {
  background-color: #0056b3;
}
