.list {
  margin: 16px 0;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.list > * {
  flex-basis: 45%;
}

.form {
  background: white;
  display: flex;
  gap: 32px;
  flex-direction: column;
  margin: 16px 0;
  padding: 16px;
}

.form h3 {
  margin: 0;
}
