@import-normalize; /* bring in normalize.css styles */
@import url('./styles/form.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #010101;
  background: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
}

.main {
  padding: 16px 32px;
}

.main .page-title {
  text-align: right;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.25px;
  text-align: right;
  text-transform: uppercase;
}

.button-icon {
  outline: none;
  border: none;
  padding: 0;
}

.button-icon svg {
  height: 24px;
  width: 24px;
}

.section {
  margin-top: 32px;
}

.section + .section {
  margin-top: 56px;
}

.section h2 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.relative {
  position: relative;
}

.h2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}